<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NettyIMS</title>
</head>
<body>
<h1>NettyIMS</h1>
<div>
    <div>
        <div id="messages">

        </div>
        <div>
            <label for="content">Message: </label>
            <input id="content" type="text" placeholder="/help">
            <button id="send">send</button>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const nettyIMSProxyAddress = [[${netty_ims_proxy_address}]];
    /*]]>*/
</script>
<script type="text/javascript" src="chat.js"></script>
</body>
</html>